@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}
/* Header */

.header {
    text-align: center;
}
#logo-center {
    margin-top: 15px;
    width: 20%;
}
/* Content */

#colors {
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.file {
    width: 33.33333%;
    height: 450px;
    color: white;
    text-align: center;
    font-size: 1.0em;
}
.file h1 {
    font-size: 3.1em;
}
.file a {
    display: list-item;
    list-style-type: none;
    margin-bottom: 10px;
}
@media (max-width: 736px) {
    #logo-center {
        margin-bottom: 30px;
        width: 50%;
    }
    #colors {
        width: 100%;
        
    }
    .file {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media (max-width: 1024px) and (min-width: 736px) {
    .file {
        width: 50%;
    }
}