@import "http://fonts.googleapis.com/css?family=Open+Sans:400"
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

//Use the default patriot logo scale
$default_logo_scale: true !default

//Viewport limits
$min-tablet-size: 768px
$min-desktop-size: 1200px

//Body background-color and font
body
	background-color: #EEEEEE
	font-family: 'Open Sans', sans-serif

//Reset text element default styles
i, p, a, span
	display: block
	color: #ffffff
	margin: 0 0
	text-decoration: none

/**
 * Header
 */
#header
	margin-top: 20px
	margin-bottom: 20px
	
	text-align: center
	img
		//Default patriot logo widths
		width: 65% 
		@media (min-width: $min-tablet-size)
			width: 40%
		@media (min-width: $min-desktop-size)
			width: 15%
	
	#header-logo
		//Change the size of the logo if needed
		@if $default_logo_scale
		@else
			width: 35%
			@media (min-width: $min-tablet-size)
				width: 20%
			@media (min-width: $min-desktop-size)
				width: 8%

/**
 * End Header
 */

/**
 * Tile Container
 */
#tiles
	//Flexbox layout
	display: flex
	flex-flow: row wrap

	//Center container on page
	margin: 0 auto 

	//Container widths
	width: 100%
	@media (min-width: $min-tablet-size)
		width: 95%
	@media (min-width: $min-desktop-size)
		width: 70%

/**
 * End Tile Container
 */

/**
 * Tile
 * Usage: Extend tile and define widths, heights, and text sizes
 */
.tile

	//Fill the remaining space in the row
	flex-grow: 1
		
	//Center all content horizantally and vertically in the tile
	display: flex
	justify-content: center
	align-items: center
	flex-flow: column nowrap

	//Mobile tile spacing
	//margin-left: 1px
	//margin-right: 1px
	margin-bottom: 15px
	
	//Tablets and desktops have no distance between tiles
	@media (min-width: $min-tablet-size)
		margin: 0 auto 0 auto

	//Text
	text-align: center
	color: white

/**
 * End Tile
 */

/**
 * Mixins for Tiles
 */
=width($mobile, $tablet, $desktop)
	width: $mobile
	@media (min-width: $min-tablet-size)
		width: $tablet
	@media (min-width: $min-desktop-size)
		width: $desktop

=height($mobile, $tablet, $desktop)
	height: $mobile
	@media (min-width: $min-tablet-size)
		height: $tablet
	@media (min-width: $min-desktop-size)
		height: $desktop

=text($p: 1em, $a: 1em, $span: 1em, $i: 1em)
	p
		font-size: $p
	a
		font-size: $a
	span
		font-size: $span
	i
		font-size: $i


/**
 * Home Page   
 */

//Homepage Wide Info tiles (Bell Info + Lunch)
.homepage-wide-tile
	@extend .tile
	+width(100%, 50%, 33.333%)
	+height(250px, 250px, 250px)
	+text(1em, 1em, 2em, 5em)

//Homepage Tiles (w/ Icon + Text)
.homepage-icon-text-tile
	@extend .tile
	+width(100%, 50%, 25%)
	+height(250px, 250px, 250px)
	+text(1em, 1em, 2em, 5em)

	i
		//Space below icons
		margin-bottom: 10px

//Bell Info Tile
#tile-bell
	flex-flow: row wrap

	#timer-container
		+width(100%, 100%, 50%)
		+text($span: 5em)

#tile-lunch
	flex-flow: row wrap
	+text($span: 1.1rem, $i: 2em, $p: 2em)
	white-space: pre-wrap

	#lunch-header
		height: 5%

	i
		margin-top: auto
		width: 15%
		height: 20%

	#lunch-text
		width: 95%

#tile-upcoming
	flex-flow: row wrap
	+text($span: 1.1rem, $i: 2.2em, $p: 2em)

	i
		margin-top: 5px
		width: 15%

/*
 * End Homepage
 */

/**
 * Docs
 */

.doc-subject-tile
	@extend .tile
	+width(100%, 50%, 50%)
	+height(300px, 300px, 250px)
	+text(1em, 1em, 3em, 5em)

	i
		margin-top: 10px
		margin-bottom: 10px

	.subject-header
		cursor: pointer

	.class-container
		margin-top: 20px
		width: 100%
		display: flex
		flex-flow: row wrap
		.class
			display: none
			margin-bottom: 20px
			+width(100%, 100%, 50%)
			+text($span: 2em)
			a
				margin-top: 10px



